## Understanding the E Commerce Data

In [1]:
import pandas as pd

**READ AND PREPARE DATA TO A FILE**

In [29]:
## read the data
file_path = 'online_retail.xlsx'

# Read the two sheets into separate DataFrames
df_2009_2010 = pd.read_excel(file_path, sheet_name='Year 2009-2010')
df_2010_2011 = pd.read_excel(file_path, sheet_name='Year 2010-2011')

# Combine the two DataFrames into one
df = pd.concat([df_2009_2010, df_2010_2011], ignore_index=True)

df.to_csv('full_e_commerce_data.csv')

**UNDERSTAND THE DATA**

In [32]:
## data information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  datetime64[ns]
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 65.1+ MB

In [33]:
## checking for the missing values
df.isnull().sum()

Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

In [35]:
## remove the rows with Customer ID is Empty
df = df.dropna(subset=['Customer ID'])
df.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [37]:
## check the data types
df.dtypes

Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
dtype: object

In [43]:
# Rename 'Customer ID' to 'CustomerID'
df.rename(columns={'Customer ID': 'CustomerID'}, inplace=True)

# Change the data types as specified
df = df.astype({
    'Invoice': 'object',
    'StockCode': 'object',
    'Description': 'object',
    'Quantity': 'int64',  # Ensure Quantity is an integer
    'CustomerID': 'str',  # Convert CustomerID to string (object type)
    'Country': 'object'
})

# Convert 'CustomerID' to a string without decimals, handling float to int conversion
df['CustomerID'] = df['CustomerID'].apply(lambda x: str(int(float(x))) if pd.notnull(x) else '')

# Convert 'InvoiceDate' to datetime format
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')

In [44]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,CustomerID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,United Kingdom

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 824364 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      824364 non-null  object
 1   StockCode    824364 non-null  object
 2   Description  824364 non-null  object
 3   Quantity     824364 non-null  int64
 4   InvoiceDate  824364 non-null  datetime64[ns]
 5   Price        824364 non-null  float64
 6   CustomerID   824364 non-null  object
 7   Country      824364 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 56.6+ MB

In [46]:
# Save the cleaned data to a new CSV file
df.to_csv('e_commerce_no_missing_values.csv', index=False)